.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-div {
  margin: 30px;
  padding-top: 30px;
  width: 590px;
  height: 100vh;
  background-color: #f4eded;
  box-shadow: 5px 5px 25px -5px rgb(11, 10, 10);
  border-radius: 20px;
  padding: 10px;
  color: white;
}
.center-div h1 {
  font-size: 45px;
  padding: 5px 0;
  color: navy;
  margin: 25px 10px;
}
.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input {

  font-size: 76px;
  width: 70%;
  height: 30px;
  border: none;
  background: transparent;
  border-bottom: 2px solid black;
  outline: none;
}
.input-div {
  margin: 50px 10px;
}
.add-btn {
  height: 40px;
  width: 80px;
  margin-left: 15px;
  border: none;
  border-radius: 30px;
}
.edit-btn {
  height: 35px;
  width: 80px;
  margin-left: 2px;
  border: none;
  border-radius: 30px;
}
button {
  font-weight: 500;
  background-color: navy;
  color: white;
  outline: none;
  font-size: 40px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.todo-list {
  font-size: 20px;
  font-weight: 500;
  color: rgba(1, 1, 8, 0.909);
  text-align: left;
  margin: 5px 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}
